services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n

    ports:
      - "5678:5678"

    environment:
      GENERIC_TIMEZONE: America/Sao_Paulo
      TZ: America/Sao_Paulo

      # no community packages
      N8N_COMMUNITY_PACKAGES_ENABLED: "false"

      # path for custom nodes
      N8N_CUSTOM_EXTENSIONS: /opt/n8n-custom

      N8N_LOG_LEVEL: debug

    volumes:
      - n8n_data:/home/node/.n8n
      - ..:/opt/n8n-custom

    restart: unless-stopped

volumes:
  n8n_data:
